{% load custom_filters %}
{% load crispy_forms_tags %}
{% load static %}


<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Create a New Order</h1>

        <!-- Customer Info -->
        {% if user.is_authenticated %}
            <div class="card mb-4">
                <div class="card-header">
                    <h2>Customer Information</h2>
                </div>
                <div class="card-body">
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                </div>
            </div>
        {% else %}
            <p>Please <a href="{% url 'login' %}">log in</a> to view customer information and place an order.</p>
        {% endif %}

        <!-- Order Form -->
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" id="additionalDiscountInput" value="{% if additional_discount %}true{% else %}false{% endif %}">
            <input type="hidden" id="freeItems" value="{% if free_item_eligible %}true{% else %}false{% endif %}">
            {{ order_item_formset.management_form }}
            {{ order_item_formset|crispy }}
            <div class="table-responsive">
                {% if free_item_eligible %}
                <p class="text-right">
                    <strong>Happy Birthday! For the occasion, we would like to offer you a free pizza and a free drink </strong>
                </p>
                {% endif %}
                {% if additional_discount %}
                <p class="text-right">
                    <strong>Congratulations, you bought more than 10 pizzas in our restaurant! To reward such a loyal customer, we would like to offer you a 10% discount on this order </strong>
                </p>
                {% endif %}
                <table class="table table-bordered table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Pizza</th>
                            <th scope="col">Ingredients</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pizza in pizzas %}
                        <tr>
                            <td>
                                <strong>{{ pizza.name }}</strong>
                            </td>
                            <td>
                                <strong>{{ pizza.ingredients }}</strong>
                                {% if pizza.is_vegetarian %}
                                    <span class="ingredient-info" data-tooltip="Vegetarian">&#9432;</span>
                                {% elif pizza.is_vegan %}
                                    <span class="ingredient-info" data-tooltip="Vegan">&#9432;</span>
                                {% endif %}
                                <span class="ingredient-info" data-toggle="tooltip" title="{{ ingredient_info }}"></span>
                            </td>
                            <td>
                                <span class="fw-bold">{{ pizza.calculate_price }}</span>
                            </td>
                            <td>
                                <input type="number" name="pizzaQuantities[{{ pizza.id }}]" min="0" value="0" class="form-control" data-price="{{ pizza.price }}"/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h2>Drinks</h2>
                <table class="table table-bordered table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Drink</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for drink in drinks %}
                        <tr>
                            <td>
                                <strong>{{ drink.name }}</strong>
                            </td>
                            <td>{{ drink.price }}</td>
                            <td>
                                <input type="number" name="drinkQuantities[{{ drink.id }}]" min="0" value="0" class="form-control" data-price="{{ drink.price }}" />
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h2>Desserts</h2>
                <table class="table table-bordered table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Dessert</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dessert in desserts %}
                        <tr>
                            <td>
                                <strong>{{ dessert.name }}</strong>
                            </td>
                            <td> {{ dessert.price }}</td>
                            <td>
                                <input type="number" name="dessertQuantities[{{ dessert.id }}]" min="0" value="0" class="form-control" data-price="{{ dessert.price }}" />
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <h2>Discount Code</h2>
            <div class="form-group">
                <input type="text" name="discountCode" id="discountCode" class="form-control" placeholder="Enter discount code" />
                <p id="discountMessage" class="text-danger"></p> 
            </div>

            <div class="card mt-4">
                <div class="card-header">
                    <h2>Order Summary</h2>
                </div>
                <div class="card-body">
                    <ul id="orderSummary" class="list-group">
                        <!-- Order items will be added here -->
                    </ul>
                    <hr>
                    {% if additional_discount %}
                        <p class="text-right">
                            <strong>Total Price with Additional 10% Discount: 
                                $<span id="finalPriceWithDiscount">0.00</span>
                            </strong>
                        </p>
                    {% else %}
                        <p class="text-right">
                            <strong>Total Price: $<span id="orderPrice">0.00</span></strong>
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit Order</button>
            </div>
        </form>
    </div>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
    <script>

        //dynamic summary of the order while ordering
        document.addEventListener('DOMContentLoaded', function () {
            const additionalDiscount = document.getElementById('additionalDiscountInput').value === 'true';
            const freeItems = document.getElementById('freeItems').value === 'true';
            const quantityInputs = document.querySelectorAll('input[type="number"]');
            const orderPriceElement = document.getElementById('orderPrice');
            const finalPriceWithDiscountElement = document.getElementById('finalPriceWithDiscount');
            const orderSummaryElement = document.getElementById('orderSummary');
            const discountCodeInput = document.getElementById('discountCode');
            const discountMessage = document.getElementById('discountMessage');
            let discountValue = 0;
    
            function updateOrderSummary() {
                let totalPrice = 0;
                orderSummaryElement.innerHTML = '';  
                let cheapestPizzaPrice = 0;
                let cheapestPizzaName = '';
                let cheapestPizzaIndex =-1;
                let cheapestDrinkPrice = 0;
                let cheapestDrinkName = '';
                let cheapestDrinkIndex =-1;
                listItems = [];
                let index = 0;
    
                //go over all the quantity inputs and calculate the total price
                //if the customer is eligible for free items, keep track of the cheapest pizza and drink
                quantityInputs.forEach(input => {
                    const quantity = parseInt(input.value);
                    const price = parseFloat(input.getAttribute('data-price'));
                    const itemName = input.closest('tr').querySelector('strong').textContent;
                    const pizzaNames = ['Margherita', 'Pepperoni', 'Vegetarian', 'Hawaiian', 'Meat Lovers', 'Supreme', 'BBQ Chicken', 'Seafood', 'Deluxe', 'Calzone'];
                    const drinkNames = ['Water', 'Cola', 'Orange Juice', 'Red Bull', 'Beer'];
    
                    //if quantity is greater than 0
                    if (!isNaN(quantity) && !isNaN(price) && quantity > 0) {

                        //keep track of the cheapest pizza and drink
                        if (freeItems && pizzaNames.includes(itemName) && (cheapestPizzaPrice == 0 || price <= cheapestPizzaPrice)){
                            cheapestPizzaPrice = price;
                            cheapestPizzaName = itemName;
                            cheapestPizzaIndex = index;
                        } else if (freeItems && drinkNames.includes(itemName) && (cheapestDrinkPrice == 0 || price <= cheapestDrinkPrice)){
                            console.log(price/quantity);
                            cheapestDrinkPrice = price;
                            cheapestDrinkName = itemName;
                            cheapestDrinkIndex = index;
                        }

                        // add the price of the item * quantity to the total price
                        const itemTotalPrice = quantity * price;
                        totalPrice += itemTotalPrice;
    
                        // Add the item and its quantity to the summary list
                        const listItem = document.createElement('li');
                        listItem.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'align-items-center');
                        listItem.textContent = `${itemName} x${quantity}`;
                        
                        //add the item total price to the list item
                        const priceSpan = document.createElement('span');
                        priceSpan.classList.add('badge', 'badge-primary', 'badge-pill');
                        priceSpan.textContent = `$${itemTotalPrice.toFixed(2)}`;
                        listItem.appendChild(priceSpan);

                        //keep track of all the item object to later retrieve the cheapest pizza and drink object
                        listItems.push(listItem);
                        
                        orderSummaryElement.appendChild(listItem);
                        index++;
                    }
                    
                });
                
                //if eligible for free items, remove the price of the cheapest pizza and drink from the total price
                if (freeItems){
                    
                    //check if a pizza is in the list
                    if (cheapestPizzaIndex !== -1) {
                        const cheapestPizzaItem = listItems[cheapestPizzaIndex];
                        totalPrice -= cheapestPizzaPrice;  // Subtract the price of the free pizza
                        const quantityText = cheapestPizzaItem.textContent.match(/x(\d+)/);
                        const quantity = quantityText ? parseInt(quantityText[1]) : 1;

                        //if quantity is 1, modify the item object price and mark it as free
                        if(quantity === 1){
                            const freeBadge = document.createElement('span');
                            freeBadge.classList.add('badge', 'badge-success', 'badge-pill');
                            freeBadge.textContent = 'Free';
                            cheapestPizzaItem.querySelector('.badge-primary').remove();  
                            cheapestPizzaItem.appendChild(freeBadge);  
                            console.log('still good');
                            console.log(cheapestPizzaName);
                        } 
                        //else, remove one quantity from the item project, update the price and add a new item object marked as free
                        else{
                            console.log(cheapestPizzaName);
                            const remainingQuantity = quantity - 1;
                            const remainingPrice = cheapestPizzaPrice * remainingQuantity;
                            cheapestPizzaItem.textContent = `${cheapestPizzaName} x${remainingQuantity}`;
                            console.log(cheapestPizzaName);

                            const priceSpan = document.createElement('span');
                            priceSpan.classList.add('badge', 'badge-primary', 'badge-pill');
                            priceSpan.textContent = `$${remainingPrice.toFixed(2)}`;
                            cheapestPizzaItem.appendChild(priceSpan);

                            const freelistItem = document.createElement('li');
                            freelistItem.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'align-items-center');
                            freelistItem.textContent = `${cheapestPizzaName} x1`;
                            const freeBadge = document.createElement('span');
                            freeBadge.classList.add('badge', 'badge-success', 'badge-pill');
                            freeBadge.textContent = 'Free';
                            freelistItem.appendChild(freeBadge);
                            orderSummaryElement.appendChild(freelistItem);
                        }
                    }
                    //redo the same logic for the drink
                    if (cheapestDrinkIndex !== -1) {
                        console.log(cheapestDrinkIndex);
                        const cheapestDrinkItem = listItems[cheapestDrinkIndex];
                        totalPrice -= cheapestDrinkPrice;  
                        const quantityText = cheapestDrinkItem.textContent.match(/x(\d+)/);
                        const quantity = quantityText ? parseInt(quantityText[1]) : 1;

                        if(quantity === 1){
                            const freeBadge = document.createElement('span');
                            freeBadge.classList.add('badge', 'badge-success', 'badge-pill');
                            freeBadge.textContent = 'Free';
                            cheapestDrinkItem.querySelector('.badge-primary').remove();  
                            cheapestDrinkItem.appendChild(freeBadge);  
                        } else{
                            const remainingQuantity = quantity - 1;
                            const remainingPrice = cheapestDrinkPrice * remainingQuantity;
                            cheapestDrinkItem.textContent = `${cheapestDrinkName} x${remainingQuantity}`;

                            const priceSpan = document.createElement('span');
                            priceSpan.classList.add('badge', 'badge-primary', 'badge-pill');
                            priceSpan.textContent = `$${remainingPrice.toFixed(2)}`;
                            cheapestDrinkItem.appendChild(priceSpan);

                            const freelistItem = document.createElement('li');
                            freelistItem.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'align-items-center');
                            freelistItem.textContent = `${cheapestDrinkName} x1`;
                            const freeBadge = document.createElement('span');
                            freeBadge.classList.add('badge', 'badge-success', 'badge-pill');
                            freeBadge.textContent = 'Free';
                            freelistItem.appendChild(freeBadge);
                            orderSummaryElement.appendChild(freelistItem);
                        
                        }
                    }
                }

                //if elgible for the 10% loyalty discount, apply the discount and update the total price in the summmary
                if(additionalDiscount){
                    totalPrice -= totalPrice * 0.1;  
                    finalPriceWithDiscountElement.textContent = totalPrice.toFixed(2);
                }

                totalPrice -= totalPrice * discountValue;  // Apply discount if any

                // Update the total price in the summary
                orderPriceElement.textContent = totalPrice.toFixed(2);

            }
    
            // Listen for changes in the quantity inputs
            quantityInputs.forEach(input => {
                input.addEventListener('input', updateOrderSummary);
            });
    
            updateOrderSummary();

            // Listen and  for changes in the discount code input
            discountCodeInput.addEventListener('input', function () {
                const code = discountCodeInput.value.trim();

                if (code) {
                    // validate the discount code
                    fetch(`/validate_discount_code/?code=${code}&has_discount_code=${additionalDiscount}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.valid) {
                                discountMessage.textContent = `Valid discount: ${data.percentage}% off`;
                                discountMessage.classList.remove('text-danger');
                                discountMessage.classList.add('text-success');
                                discountValue = data.percentage / 100;  // Apply discount
                            } else {
                                discountMessage.textContent = data.message;
                                discountMessage.classList.add('text-danger');
                                discountMessage.classList.remove('text-success');
                                discountValue = 0;  // No discount applied
                            }

                            // call the order summary after discount change to update the total price
                            updateOrderSummary();
                        })
                        .catch(error => {
                            discountMessage.textContent = 'Error validating the discount code.' + error;
                            discountMessage.classList.add('text-danger');
                            discountValue = 0;
                        });
                } else {
                    discountMessage.textContent = '';
                    discountValue = 0;
                }
            });
        });

        // check that the order includes at least one pizza to allow submission
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            const quantityInputs = document.querySelectorAll('input[name^="pizzaQuantities"]');

            form.addEventListener('submit', function (event) {
                let pizzaSelected = false;

                // Check if at least one pizza is selected
                quantityInputs.forEach(input => {
                    const quantity = parseInt(input.value);
                    if (quantity > 0) {
                        pizzaSelected = true;
                    }
                });

                // If no pizza selected, dont allow form submission and show an alert
                if (!pizzaSelected) {
                    event.preventDefault();
                    alert('Please select at least one pizza to place an order.');
                }
            });

            document.addEventListener('DOMContentLoaded', function () {
                const vegetarianIngredients = ['mozzarella', 'tomato sauce', 'basil','zucchini', 'eggplant', 'peppers', 'pineaplle', 'onions', 'mushrooms', 'olives', 'ricotta', 'parmesan'];
                const veganIngredients = ['tomato sauce', 'basil','zucchini', 'eggplant', 'peppers', 'pineaplle', 'onions', 'mushrooms', 'olives'];

                // Select all ingredient info icons
                const infoIcons = document.querySelectorAll('.ingredient-info');

                infoIcons.forEach(icon => {
                    const ingredients = icon.getAttribute('data-ingredients').toLowerCase();
                    let isVegetarian = vegetarianIngredients.every(ingredient => ingredients.includes(ingredient));
                    let isVegan = veganIngredients.every(ingredient => ingredients.includes(ingredient));

                    if (isVegan) {
                        icon.setAttribute('data-tooltip', 'Vegan');
                    } else if (isVegetarian) {
                        icon.setAttribute('data-tooltip', 'Vegetarian');
                    } else {
                        icon.style.display = 'none'; // Hide the icon if it's neither vegetarian nor vegan
                    }
                });
            });
    });
    </script>
</body>
</html>